.app-header {
    display: flex;
    min-height: 100px;
    flex-direction: column;

    justify-content: center;

    background: #3a73db url('../../../images/pokemon-1536849_640-min.png') center ;
    background-size: contain;    

}