<section class="section">
    <div class="container" *ngIf="pokemon != null">
        <div class="pokemon">
            <article>
                <section>
                    <div class="card mb-1 mt-1 border-primary" style="max-width: 35%; margin:auto;">
                        <img class="card-img-top" src="{{ pokemon.sprites.front_default }}"
                            alt="Image of {{ pokemon.name }}">
                        <button (click)="onClickMe()" class="card-body btn btn-primary">Collect {{ pokemon.name }}</button>
                    </div>

                    <h1>Details for {{ pokemon.name }}</h1>
                    <h2>Base stats</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Name: {{ pokemon.name }}</li>
                        <li class="list-group-item">Type: {{ pokemon.types[0].type.name }}</li>
                        <li class="list-group-item">HP: {{ pokemon.stats[0].base_stat }}</li>
                    </ul>
                </section>

                <section>
                    <h2>Profile</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Height: {{ pokemon.height }}</li>
                        <li class="list-group-item">Weight: {{ pokemon.weight }}</li>
                        <li class="list-group-item">Base experience: {{ pokemon.base_experience }}</li>

                        <ul class="list-group list-group-item">
                            <h6>Abilities</h6>

                            <li class="list-group-item">{{ pokemon.abilities[0].ability.name }}</li>
                            <li class="list-group-item">{{ pokemon.abilities[1].ability.name }}</li>

                        </ul>
                    </ul>
                </section>

                <section>
                    <h2>Moves</h2>
                    <ul class="list-group">
                        <li class="list-group-item"> {{ pokemon.moves[0].move.name }} </li>
                        <li class="list-group-item"> {{ pokemon.moves[1].move.name }} </li>
                        <li class="list-group-item"> {{ pokemon.moves[2].move.name }} </li>
                    </ul>
                </section>
            </article>
        </div>
    </div>
</section>