<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">

                        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" id="login-form" 
                            class="form align-bottom">

                            <div class="form-group text-center usernameLabel">
                                <label for="username">Trainer</label>

                                <input type="text" id="username" class="form-control border border-dark"
                                    placeholder="Enter trainer name" name="username" formControlName="trainerName">
                            </div>
                            <span>
                                <p *ngIf="!signupForm.get('trainerName').valid && signupForm.get('trainerName').touched"
                                    class="help-block">Please enter a valid username, must be between 3 and 20
                                    characters.</p>
                            </span>

                            <div class="form-group border border-dark">
                                <input type="submit" class="btn btn-info btn-md" style="min-width: 100%;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>