#login .container #login-row #login-column #login-box {
    margin-top: 55%;
    max-width: 600px;
    height: 100%;
}

#login
{
    margin-top: 1%;
    margin-bottom: 1%;
}

.usernameLabel
{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; font-size: x-large;
}

#login-form
{
    margin: 25% 3%;
}

.container
{
    background: url('../../../images/pokemon-25.jpg') center;
    background-size: 100%;
    background-position-y: 50%;
}

p, span
{
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: medium;
}