<section class="section">
    <div class="container">
        <h1 style="text-align: center;">Trainer Page</h1>

        <div class="card-group">
            <div *ngFor="let pokemon of pokemonList;" style="min-width: 20%;">
                <div class="mb-3 ml-2">
                    <a class="card border-primary border" routerLink="/pokemon-detail/{{pokemon.id}}"
                        style="text-align: center;">
                        <img class="card-img-top"
                            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png"
                            alt="Image of {{pokemon.name}}">
                        <div class="card-header"> {{pokemon.name}} </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>