
<!-- Navigation -->
<app-header></app-header>

<!-- Adding navigation -->
<app-navigation></app-navigation>

<!-- Main Body -->
<router-outlet></router-outlet>

<!-- Footer info -->
<app-footer></app-footer>