<section class="section">
    <div class="container" *ngIf="pokemons != null">
        <h1 style="text-align: center;">POKEMON CATALOGUE</h1>

        <div class="card-group">

            <div *ngFor="let pokemon of pokemons.results; index as i" style="min-width: 20%;">
                <div  class="mb-3 ml-2" >
                    <a class="card border-primary border" routerLink="/pokemon-detail/{{i+1}}" style="text-align: center;">
                        <img class="card-img-top" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{i+1}}.png" alt="image of {{pokemon.name}}">  
                        <div class="card-header"> {{pokemon.name}} </div>
                    </a>
                </div>
            </div>
        </div>
    </div> 
</section>