<header id="backgroundColor">

  <div class="container" style="overflow: hidden;">

    <a class="nav-link" (click)="clearUser()" routerLink="/login"> Clear User </a>
    <a *ngIf='currentTrainer != ""' class="nav-link"> {{ currentTrainer }} </a>


    <nav>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/trainer">Trainer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pokemon-catalogue">Pokemon-catalogue</a>
        </li>
      </ul>
    </nav>


  </div>
</header>